
body {
    background-color: black;
    color: white;
  }
  
h2 {text-align: center;} 

/*
.logo{
    width: 100px;
    display: inline-flex;
}
*/

.navigationbar {
    position: absolute;
    top: 30px;
    left: 200px;
    width: 500px ;
    height: 330px ;
}

.logo img{
    position: absolute;
    top: 20px;
    left: 10;
    width: 65px;
    height: 33px;
}

.macheader {
    font-size: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.macheader2 {
    font-size: 30px;
    text-align: center;
}

.pic {
    position: absolute;
    top: 100px;
    left: 15px;
    width: 50px;
    height: 50px;
}

.contactus {
    text-align: center; 
}
